.chat-container {
    position: relative;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 50%;
}
.controls {
    position: fixed;
    width: 100%;
    bottom: 1px;
    left: 1px;
}
.chat-toggle {
    position: absolute;
    bottom: 0;
    letter-spacing: 0.2rem;
    font-weight: bold;
}
.messagebox {
    position: relative;
    min-height: 95px;
    overflow: hidden;
    border-radius: 0 5px 0 0;
    font-size: 0.8rem;
}
.messages {
    position: absolute;
    bottom: 0;
    width: 98.7%;
    height: 100%;
    padding: 0.2rem;
    margin: 0;
}
.messages {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    word-break: break-word;
}
.messages:hover {
    overflow-y: scroll;
}
.messageInput, .messageControls {
    width: 100%;
}
.chatMessage {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    word-break: break-word;
}
.block:not(:last-child) {
    margin-bottom: 0;
}
