.hud {
    border: $hud-border;
    background-color: $hud-background;
    margin-left: 2px;
}
.hud-tiledata {
    border-radius: 5px 0 5px 5px;
    position: fixed;
    top: 1px;
    right: 1px;
    width: 15%;
    padding: 3px;

    label {
        display: block;
        margin-right: 10px;
    }
    float: right;
}
.hud-btn-is-active {
    background-color: $hud-background-active;
}

.controls {
    position: fixed;
    height: 100px;
    bottom: 50%;
    right: 1px;
}

.toggle {
    margin: 0.05rem;
    display: block;
    letter-spacing: 0.2rem;
    font-weight: bold;
    width: 4rem;
}