/******************************/
/*          Layout            */
/******************************/
.hud {
    padding: 2px;
}
.hud-controls {
    position: fixed;
    left: 1px;
    top: 25%;
    flex-direction: column;
    display: flex;
}
.hud-button{
    flex-grow: 1;
    margin-right: 3px;
    padding: 2px;
    margin-bottom: 1px;
}


/******************************/
/*          Style             */
/******************************/

.hud {
    background-color: $primary-background;
    border: 1px solid black;
    color: $primary;
    text-shadow: 1px 1px 1px black;
}
.hud-button:hover {
    background-color: $primary-accent;
}
.hud-button__selected {
    background-color: $secondary;
}