/******************************/
/*          Layout            */
/******************************/
#selector {
    position: fixed;
    top: 50%;
    left: 0;
    width: 10%;
    padding: 1px;
}
.selector-button {
    margin-top: 1px;
    width: 100%;
    display: block;
}
/******************************/
/*          Styles            */
/******************************/
