/******************************/
/*          Layout            */
/******************************/
.console {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 40%;
    padding: 1px;
}
.console-button {
    width: 9%;
}
.console-input {
    width: 90%;
    margin-left: 4px;
}
#console-messages {
    height: 145px;
    overflow: hidden;
    flex-direction: column-reverse;
    display: flex;
    padding: 3px;
    margin-bottom: 1px;
}
#console-messages:hover {
    overflow-y: scroll;
}


/******************************/
/*          Style             */
/******************************/


/*     Console Scrollbar              */
#console-messages::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: $primary-background;
}

#console-messages::-webkit-scrollbar
{
	width: 12px;
	background-color: green;
}

#console-messages::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $primary-background;
}