.fullscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.loading {
    display: block;
    margin: 0 auto;
}
.loadscreen {
    font-size: 5rem;
    margin: 0 auto;
    background-color: white;
    color: black;
    font-weight: bold;
    letter-spacing: .25em;
    text-align: center;
}
.centered {
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%);
   margin: 0 auto;
   width: 100%;
}