.chat-container {
    position: fixed;
    bottom: 0;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 50%;
}
.messagebox {
    position: relative;
    min-height: 95px;
    overflow: hidden;
    border-radius: 0 5px 0 0;
    font-size: 0.8rem;
    font-weight: bold;
    border-bottom: 0 !important;
}
.messages {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    margin: 0;
}
.messages {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    word-break: break-word;
}
.messages:hover {
    overflow-y: scroll;
}
.messageControls {
    width: 100%;
}
.messageInput {
    width: 90.5%;
}
.chatMessage {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    word-break: break-word;
}
.block:not(:last-child) {
    margin-bottom: 0;
}
