.console {
    position: fixed;
    bottom: 0;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 50%;
}

.console-display {
    position: relative;
    min-height: 95px;
    overflow: hidden;
    border-radius: 0 5px 0 0;
    font-size: 0.8rem;
    font-weight: bold;
    border-bottom: 0 !important;
}

.console-control {
}

.console-input {
    width: 100%;
}

.console-messages {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    margin: 0;
}

.console-messages {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    word-break: break-word;
}

.console-messages:hover {
    overflow-y: scroll;
}

.console-message_controls {
    width: 100%;
}

.console-message {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    word-break: break-word;
}

.block:not(:last-child) {
    margin-bottom: 0;
}
