.hud {
    border: $hud-border;
    background-color: $hud-background;
    margin-left: 2px;
}
.hud-tiledata {
    border-radius: 5px 0 5px 5px;
    position: absolute;
    top: 1px;
    right: 1px;
    min-width: 15%;
    padding: 3px;
}
.hud-btn-is-active {
    background-color: $hud-background-active;
}

.controls {
    position: absolute;
    min-height: 100px;
    bottom: 25%;
    right: 1px;
}

.toggle {
    margin: 0.05rem;
    display: block;
    letter-spacing: 0.1rem;
    font-weight: bold;
    width: 4rem;
}

.tiledata-row {
}
.tiledata-label {
    width: 50%;
    text-align: right;
    font-weight: bold;
}
.tiledata-value {
    width: 50%;
    text-align: center;
}