.hud {
    border: $hud-border;
    background-color: $hud-background;
}
.hud-tiledata {
    border-radius: 5px 0 5px 5px;
    position: absolute;
    top: 1px;
    right: 1px;
    min-width: 15%;
    padding: 3px;
}
.hud-btn-is-active {
    background-color: $hud-background-active;
}

.controls {
    position: absolute;
    min-height: 100px;
    top: 1px;
    left: 1px;
}

.toggle {
    margin: 0.05rem;
    display: block;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-shadow: -1px -1px 5px white;
    width: 5rem;
}
.toggle:hover {
    text-shadow: 1px 1px 5px white;
}
.tiledata-row {
}
.tiledata-label {
    width: 50%;
    text-align: right;
    font-weight: bold;
}
.tiledata-value {
    width: 50%;
    text-align: center;
}