$primary-background: rgba(50, 100, 50, 0.25);
$primary: rgba(75, 200, 75, 0.35);
$primary-accent: rgba(75, 200, 75, 0.25);
$secondary: rgba(200, 200, 200, 0.4);

@import 'App/styles';
@import 'UI/Console/styles';
@import 'UI/Inspector/styles';
@import 'UI/Selector/styles';
@import 'UI/styles';
