$primary-background: rgba(50, 100, 50, 0.75);
$primary: rgba(225, 225, 225, 0.5);
$primary-accent: rgba(75, 200, 75, 0.25);
$secondary: rgba(50, 50, 50, 0.4);

@import 'App/styles';
@import 'World/styles';
@import 'UI/Console/styles';
@import 'UI/Inspector/styles';
@import 'UI/Selector/styles';
@import 'UI/styles';
